{% extends '/layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" media="screen" href="{{ asset('styles/error/index.css') }}"/>
{% endblock %}

{% block body %}
    <h1>500</h1>
    <p>Oops, the site has crashed!</p>
{% endblock body %}